name: converter
description: "A Flutter currency converter calculator with support for fiat currencies and cryptocurrencies."
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  flutter_riverpod: ^2.6.1

  http: ^1.2.2

  hive: ^2.2.3
  hive_flutter: ^1.1.0

  path_provider: ^2.1.5

  intl: ^0.19.0

  window_manager: ^0.4.3

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
